*.yml  linguist-detectable=true
*.ini  linguist-detectable=true
*.cfg  linguist-detectable=true
*.md   linguist-detectable=true
*.sh   linguist-detectable=true
*.json linguist-detectable=false
*.css  linguist-detectable=false
*.js   linguist-detectable=false
