*.yml  linguist-vendored
*.ini  linguist-vendored
*.cfg  linguist-vendored
*.md   linguist-vendored
*.sh   linguist-vendored
*.css  linguist-detectable=false
*.js   linguist-detectable=false
*.json linguist-detectable=false
